html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Lato, Arial, Helvetica, sans-serif;
    background-color: #ffff99;
    padding: 0;
    margin: 0;
}
.border {
    border: 2px solid green;
    width: 80%;
    padding: 10px;
    overflow: auto;
    margin: 0 auto;
    padding-top: 80px;
}
header {
    background-color: #58582C;
    width: 100%;
    overflow: auto;
    position: fixed;
}
header h1 {
    color: white;
    margin: 0;
    padding: 0.5em;
    width: 35%;
    float: left;
}
h2 {
    color: #58582C;
    margin: 1em;
}
img {
    border: 2px solid green;
    float: left;
    margin: 0 1em 1em 3em;
}
.clearfloat {
    clear: both;
}
article {
    width: 65%;
    float: left;
}
aside {
    color: #58582C;
    font-weight: bold;
    width: 33%;
    float: left;
}
nav {
    font-size: 1.2em;
    font-weight: bold;
    width: 60%;
    float: left;
    padding-top: 1.5em;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
}
nav li {
    display: inline;
    padding-right: 1.3em;
}
nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
}
nav a:hover {
    color: #999966;
}
blockquote {
    width: 372px;
    height: 150px;
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 1em;
    box-shadow: 15px 15px 20px 0px rgba(153,153,153,1);
}
blockquote::after {
    content: "";
    background: url("image/menupic.jpg");
    background-color: #cccccc;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border-radius: 20px;

}
footer {
    padding: 1em;
    text-align: center;
}
